* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "MuseoModerno", cursive;
  /* font-family: "Roboto", sans-serif; */
  text-decoration: none;
  list-style: none;
}
:root {
  --body-color: #e5e5e5;
  --pink-color: #fd9c91;
  --grey-color: #bdbcc2;
  --text-color: rgb(0, 0, 0);
  --main-color: #00747e;
  --gold-color: #db4d19;
  --transition: all 0.55s ease;
  --trans: translateY(-5px);
  --big-font: 5rem;
  --p-font: 1.5rem;
  --h5-font: 0.9rem;
}
.grid {
  width: 1318px;
  max-width: 100%;
  margin: 0 auto;
}
ul {
  margin: 0;
}
li {
  text-decoration: none;
}
a {
  text-decoration: none;
  color: var(--text-color);
}
/* --------------------Body-------------------- */
body {
  background: var(--body-color);
}
/* --------------------HEADER-------------------- */
#header {
  padding: 20px 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}
.header-logo {
  transition: var(--transition);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}
.header-logo:hover {
  transform: var(--trans);
}
.header-logo i {
  font-size: 40px;
  color: var(--pink-color);
  margin-right: 4px;
}

.activity {
  color: var(--pink-color);
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar li a {
  display: inline-block;
  margin: 14px;
  font-weight: 500;
  transition: all 0.55s ease;
}
.navbar-more {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 8px;
}
.navbar li a:hover {
  cursor: pointer;
  color: var(--pink-color);
  font-weight: 600;
  transform: translateY(-3px) scale(1.1);
}
.header-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-buy {
  padding: 10px 15px;
  background-color: var(--pink-color);
  color: #fff;
  border: 2px solid transparent;
  border-radius: 6px;
}
.btn-buy:hover {
  cursor: pointer;
  background-color: #fff;
  border: 2px solid var(--text-color);
  color: var(--blue-color);
}
.moon-icon {
  font-size: 25px;
  margin-left: 15px;
  color: var(--text-color);
  transition: var(--transition);
}
.menu-icon {
  font-size: 30px;
  margin-left: 10px;
  transition: var(--transition);
  display: none;
}
.moon-icon:hover {
  cursor: pointer;
  transform: scale(1.4);
}
/* ---------------------MAIN---------------- */
section {
  padding: 0 10%;
}
#main {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(1, 3fr 2fr);
  align-items: center;
  gap: 1rem;
}
.content h1 {
  font-size: var(--big-font);
  margin: 10px 0;
  color: var(--text-color);
}
.content h3 {
  margin: 15px 0;
  font-size: var(--p-font);
  color: var(--pink-color);
}
.text-p {
  margin: 15px 0;
  color: var(--text-color);
}
.box img {
  width: 100px;
  height: 100px;
}
.pic {
  text-align: right;
  justify-content: center;
}
.pic-img {
  width: 450px;
  height: 450px;
}
.pic-img.iphone-img {
  width: 400px;
  height: 480px;
}
.product {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, auto));
  align-items: center;
}
.box {
  background-color: var(--grey-color);
  margin: 10px;
  text-align: center;
  border-radius: 8px;
  padding: 10px;
  transition: var(--transition);
}
.box:hover {
  cursor: pointer;
  transform: var(--trans) scale(1.1);
}
.box h3 {
  color: var(--text-color);
}
.price {
  margin: 20px 0;
  font-size: var(--h5-font);
}
.price-old {
  color: var(--text-color);
  text-decoration: line-through;
  color: rgb(80, 80, 80);
  font-size: 0.7rem;
}
.box h5 {
  color: var(--gold-color);
  font-weight: 600;
  font-size: 16px;
}
.down i {
  font-size: 35px;
  position: absolute;
  bottom: 3%;
  right: 6%;
  transition: var(--transition);
}
.down i:hover {
  color: var(--pink-color);
  transform: var(--trans) scale(1.1);
}
body.color {
  --text-color: #fff;
  --body-color: #05162a;
  --grey-color: #283140;
}
/* ----------------RESPONSIVE-------------- */
@media (max-width: 1470px) {
  /* .pic-img {
    width: 250px;
    height: 250px;
  } */
  #main {
  }
}
@media (max-width: 1400px) {
  :root {
    --big-font: 4.5rem;
    --p-font: 1.5rem;
  }
  .pic-img {
    width: 370px;
    height: 400px;
  }
  .pic-img.iphone-img {
    width: 340px;
    height: 420px;
  }
}
@media (max-width: 1400px) {
  .pic-img {
    width: 370px;
    height: 400px;
  }
  .pic-img.iphone-img {
    width: 330px;
    height: 420px;
  }
}
@media (max-width: 1280px) {
  #main {
    grid-template-columns: 1fr;
  }
}
